
body{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    background: linear-gradient(to right,
    #009a8b,#5500cc,#66d0c7);;
    font-family: sans-serif;
}

.images{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

.image-list{
    background-color: lightgrey;
    width: 640px;
    border: 5px solid black;
    padding: 5px;
    margin: 2px;
  }

.image-list:hover{
    transform: scale(1.05);
}

.indicator{
    background: linear-gradient(
        to right,#0a06e4,#ff5202);

    height: 20px;
    border-radius: 4px;
    width: 20%;
    position: fixed;
    top: 0px;
}

